/* background image and and color */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 480px)
.body {
    background-image: url("bg.jpg"); /* the background image used */
    background-color: lightgray; /* the background color used if the image is unavailable*/  
    background-repeat: no-repeat;
    background-size: 100%; 500% /* resize the background image to cover the entire container */
}



/* Add a transperent background color to the top navigation */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 480px)
.nav {
    overflow: hidden;
    background-color: transparent; /* Making the background transparent */
    margin: -8px;
    float: right; /* positioning the navigation bar to the right */
   

}

/* Style the links inside the navigation bar */
.nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

/* Change the color on hover */
.nav a:hover{
    background-color: white; /* Text background color on hover */
    color: tomato; /* Text color on hover */
        
    }

/* Add a color to the active/current link */
.nav a.active {
    background-color: firebrick;
    color: white;
}

 /* Div 1 font setting and positioning */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.firstdiv {
    font-family: courier;
    font-size: 40px;
    color: white;
    margin-top: 60px;
    margin-left: 250px;
    display: block;
    
}
/* Buy ticket button */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.ticketbutton {
  background-color:yellow; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
/* /* Buy ticket button button onhover settinging */
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Div 2 font setting and positioning */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.secdiv {
    font-family: courier;
    font-size: 20px;
    margin-top: -350px;
    margin-left: 15px;
    color: white;
    display: flex;
    width: 10%;
    
}

/* Div 3 font and size setting and positioning */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.thrediv {
    font-family: courier;
    font-size: 20px;
    margin-top: -100px;
    color: white;
    height: auto;
    width: 30%;
    float: right; 
    display: block;
}

/* Div 4 font and size setting and positioning  */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.foudiv {
    font-family: courier;
    font-size: 20px;
    margin-top: 20%;
    color: black;
    height: auto;
    width: 70%;
}

/* Div 5 font and size setting and positioning */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.fivdiv {
     position: sticky;
    font-family: courier;
    font-size: 20px;
    margin-top: 0;
    color: gold;
    height: auto;
    width: 20%;
    background-color: black;
    float: right;
    text-align: center;
}


/* Corner div para setting */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.para {
    color: white;
    text-align: center;
}
/*Div 7 font, position and size setting */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.sevdiv {
    font-family: courier;
    font-size: 20px;
    margin-left: 10%;
    color: black;
    height: auto;
    width: 70%;
    text-align: center;
}
/* Sponsor images setting */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.sponpic {
    height: 100px;
    width: 100px;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.col_a {
    float: right;
    height: 180px;
    width: 200px;
    position: relative;
    margin-top: 250px;
    
}
.table {
    height: 400px;
    width: 100%;
    margin-top: 250px;
    font-size:20px;
    text-align: center;
    overflow: visible;
    font-family: courier;
    border: 2px solid black;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.sch-col, td {
    background-color: whitesmoke;
    width: 50%;
    margin-top: 30%;
    margin-left: 30%;
    text-align: center;
    border: 1px solid white;
    padding: 40px;
}
.th{
    background-color: antiquewhite;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
div.sch-intro {
     width: 50%;
    margin-top: 30%;
    margin-left: 30%;
    text-align: center;
    font-family: courier;
    font-family: courier;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
div.about-intro {
     width: 80%;
    margin-top: 30%;
    margin-left: 10%;
    text-align: center;
    font-family: courier;
    font-family: courier;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
div.about-codeofcon {
     width: 80%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
    font-family: courier;
    font-family: courier;
}
/* Gallary setup */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
div.gallery {
  margin-top: 200px;
  border: 1px solid #ccc;
  float: left;
   
}

div.gallery:hover {
  border: 1px solid #777;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
.gallery photo {
  width: 40%;
  height: auto;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
div.desc {
  padding: 15px;
font-family: courier;
  text-align: center;
    background-color: white;
}

div.positions2 {
    float: right;
}
/* Registration form */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
div.regform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
div.regformb {
     width: 50%;
    margin-top: 25%;
    margin-left: 27%;
    text-align: center;
    font-family: courier;
    font-family: courier;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.ticket {
    border: 1px solid black;
    margin-top: 16%;
    margin-left: 200px;
    padding: 20px;
    width: 50%;
    height:20%;

}
/* comment session textarea setting */
textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
/* Comment session submit button setting */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
/* comment session submit button onhover settinging */
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* The footer background, font and position setting */

.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
}

p label{color:#00f;text-decoration:underline;cursor:pointer}
  .modal,.modal *{box-sizing:border-box;-moz-box-size:border-box;transition:all .2s ease-in-out}
  .modal:checked+.modal{opacity:1;pointer-events:all}
  .modal{position:fixed;top:0;left:0;width:100%;height:100%;z-index:500;padding:15px;overflow-y:scroll;opacity:0;pointer-events:none}
  .modal article{background:#fff;width:100%;padding:50px;position:relative;z-index:700}
  .modal .close:before{content:'×';display:block;padding:20px 30px;font-size:200%;position:absolute;top:0;right:0;z-index:800;cursor:pointer}
  .modal .close:hover:before{color:#c00}
  .modal .overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:600;cursor:pointer
}
